body {
  margin: 0;
}

h1 {
  font-family: fantasy;
  font-size: 10vw;
  text-shadow: 1px 1px #000;
  margin-bottom: 0px;
  filter: drop-shadow(2px 4px 6px black);
  color: #f00;
}

p {
  font-family: fantasy;
  font-size: 5vw;
  text-shadow: 1px 1px #000;
  margin-top: 0px;
  filter: drop-shadow(2px 4px 6px black);
}

.App {
  background-image: url('https://cdn.vox-cdn.com/thumbor/eek1zAz3NPGHXzh05-h1q6G0HIk=/0x0:1000x562/1820x1213/filters:focal(420x201:580x361):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/57270897/ave_26_tacos_yelp.0.jpg');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: difference;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
